<h1> Welcome to the Total of Two numbers </h1>
<form method="POST" action="/sumnumbers">
  Enter First number: <input type="text" name="firstno" /><br>
  Enter Second number: <input type="text" name="secondno" /><br>
  <input type="submit" text="Submit" />
</form>