<h1> Welcome to the registration page! </h1>
<form method="POST" action="/register">
  Email: <input type="email" name="email" /><br>
  Password: <input type="password" name="password" /><br>
  <input type="submit" text="Submit" />
</form>