<h2>This my SayHello File</h2>
<div>
  This file is server when we request /sayHello
</div

<p><b> testing again</b><p>

This shows the Data Passing by the Server to the Client
<p>
Welcome <font color="red"><%= myname %></font><p>
And your Job is <font color="green"><%= myjob %>

<p>
<form method="POST" action="/register">
  Your name : <input type="text" name="myname" /><br>
  Your job: <input type="text" name="myjob" /><br>
  <input type="submit" text="Register" />


</form>


