<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <br>
    <a href="/urls/new">Create a New Short Link</a>
    <br><br>
    <ul>
      <% for (var i in urls) { %>
        <% if (urls[i].user_id===user.id) { %>
        <li>
          <%= urls[i].shortUrl %> -
          <%= urls[i].longUrl %>
          <form action="/urls/<%= i %>/delete" method="post">
            <input type="submit" value="Delete" class="btn btn-default">
          </form>
          <a href="/urls/<%= i %>">Edit</a>
        </li>
        <% } %>
      <% } %>
    </ul>
</body>
</html>