<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
    <br>
    <a href="/urls">Show all URLs</a>
    <br><br>
    <b>ShortURL:</b> <%= shortURL %>
    <br><br>
    <form action="/urls/<%= shortURL %>" method="post">
      <p>
        <input id="longURL" type="text" name="longURL" placeholder= "<%= longURL %>" style= "width: 300px;">
        <input type="submit" value="Update">
      </p>
    </form>

</body>
</html>