<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
    <ul>
      <% for (var i in urls) { %>
        <li><%= i %> - <%= urls[i] %>
          <form action="/urls/<%= i %>/delete" method="post">
            <p>
              <button>Delete</button>
            </p>
          </form>
        </li>
      <% } %>
    </ul>
<!--   <pre><%= JSON.stringify(urls, null, 4) %></pre> -->
</body>
</html>

